package ${packageName}.service;

import ${packageName}.domain.vo.${ClassName}VO;
import ${packageName}.domain.dto.${ClassName}DTO;
#if($table.crud)
import blog.common.base.resp.TableDataInfo;
import blog.common.base.req.PageQuery;
#end
import blog.common.base.service.BaseService;

import java.util.Collection;
import java.util.List;

/**
 * ${functionName}Service接口
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface I${ClassName}Service extends BaseService<${ClassName}>{

    /**
     * 查询${functionName}
     *
     * @param ${pkColumn.javaField} 主键
     * @return ${functionName}
     */
    ${ClassName}VO queryById(${pkColumn.javaType} ${pkColumn.javaField});

#if($table.crud)
    /**
     * 分页查询${functionName}列表
     *
     * @param DTO        查询条件
     * @param pageQuery 分页参数
     * @return ${functionName}分页列表
     */
    TableDataInfo<${ClassName}VO> queryPageList(${ClassName}DTO DTO, PageQuery pageQuery);
#end

    /**
     * 查询符合条件的${functionName}列表
     *
     * @param DTO 查询条件
     * @return ${functionName}列表
     */
    List<${ClassName}VO> queryList(${ClassName}DTO DTO);

    /**
     * 新增${functionName}
     *
     * @param DTO ${functionName}
     * @return 是否新增成功
     */
    Boolean insertByDTO(${ClassName}DTO DTO);

    /**
     * 修改${functionName}
     *
     * @param DTO ${functionName}
     * @return 是否修改成功
     */
    Boolean updateByDTO(${ClassName}DTO DTO);

    /**
     * 校验并批量删除${functionName}信息
     *
     * @param ids     待删除的主键集合
     * @param isValid 是否进行有效性校验
     * @return 是否删除成功
     */
    Boolean deleteWithValidByIds(Collection<${pkColumn.javaType}> ids, Boolean isValid);
}
