package ${packageName};

import ${entityFullName};
import io.swagger.v3.oas.annotations.media.Schema;
import jakarta.validation.constraints.NotBlank;
import jakarta.validation.constraints.NotNull;
import lombok.Data;
import org.springframework.beans.BeanUtils;

#if(${tableComment})
@Schema(description = "${tableComment}创建请求")
#end
@Data
public class ${className} {

#foreach($field in $fields)
    #if(${field.comment})
    @Schema(description = "${field.comment}")
    #end
    #if(!${field.nullable})
        #if(${field.type} == "String")
    @NotBlank(message = "${field.comment}不能为空")
        #else
    @NotNull(message = "${field.comment}不能为空")
        #end
    #end
    private ${field.type} ${field.name};
#end

    public ${entityName} toEntity() {
        ${entityName} entity = new ${entityName}();
        BeanUtils.copyProperties(this, entity);
        return entity;
    }
}